//
// Grayscale
//

$grey-1: #f5f6f7;
$grey-2: #ebebeb;
$grey-3: #c5c6c7;
$grey-4: #a7a8aa;
$grey-5: #898f9b;
$grey-6: #6b6c6f;
$grey-7: #404144;
$grey-8: #222426;

//
// Theme
//

$yellow: #f9ac12;
$red: #ff0000;
$red-2: #b30000;
$green: #6cc93e;
$blue: #236ee8;


$light-blue-1:  #c8eaf8;
$light-blue-2:  #1381fe;
$primary-blue:  #0822f8;
